body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 0.8rem;
}
a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}
.hero {
  background-color: rgb(31, 41, 55);
  display: flex;
  flex-direction: column;
  padding-inline: 100px;
  padding-bottom: 100px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.logo {
  font-weight: 700;
  font-size: 22px;
  color: #f9faf8;
}
.hero-content {
  display: flex;
  gap: 3rem;
}
.left-hero-content {
  max-width: 450px;
}
h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}
.left-hero-content p {
  font-size: 18px;
  color: #e5e7eb;
}
.sign-up {
  background-color: #3882f6;
  color: white;
  border: none;
  padding-block: 0.5rem;
  padding-inline: 1.5rem;
  border-radius: 8px;
}
.right-hero-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  padding-inline: 15rem;
  color: #e5e7eb;
}
.information {
  padding-inline: 100px;
  padding-bottom: 100px;
}
h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}
.content {
  display: flex;
  gap: 1rem;
  text-align: center;
  justify-content: center;
  gap: 3rem;
}
.card {
  max-width: 150px;
  color: rgb(168, 167, 167);
}
.blue-box {
  border: solid;
  border-color: #3882f6;
  border-radius: 10px;
  width: 150px;
  height: 150px;
}
.testimonials {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 100px;
}
.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
  color: #1f2937;
  margin: 0;
  padding-bottom: 8px;
}
.author {
  align-self: flex-end;
  color: #1f2937;
  font-weight: 700;
  font-size: 22px;
  padding-right: 18px;
}
.action-call {
  display: flex;
  background-color: #3882f6;
  border-radius: 5px;
  margin: 100px;
  justify-content: space-around;
  padding: 30px;
  padding-block: 45px;
}
.call {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
  margin: 0;
  align-self: center;
}
.revolution {
  margin: 4px;
  color: #e5e7eb;
}
.action-call button {
  align-self: center;
  border: solid;
  border-color: white;
  font-size: 22px;
  color: white;
  border-radius: 25px;
  background-color: #3882f6;
  padding-inline: 25px;
  padding-block: 10px;
}
.footer {
  background-color: rgb(31, 41, 55);
  display: flex;
  padding-inline: 100px;
  padding-block: 50px;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
  font-size: 18px;
}
